html,body {
	background: #f2f2f2;
	color: #565656;
	height: 100%;
	font-family: 'Open Sans';
}

h1, .h1 {
	font-size: 20px;
	font-color: #436976;
	color: #436976;
}

#map{
	width: 80%;
	min-height: 550px;
	height: 100%;
	float: left;
}

.layerSwitcher{
	width: 20%;
	height: 100%;
	float: left;
}

.layerSwitcherDiv {
	overflow: auto;
	height: 94%;
}

#content {
	width: 100%;
	min-height: 600px;
	height: 80%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 55px;
}

#footer {
	width: 100%;
	height: 8%;
	text-align: center;
	bottom: 0;
}

#footer p {
	color: #f2f2f2;
	margin-bottom: 0px;
	line-height: 16px;
}

#footer em {
	color: #575757;
	padding-bottom: 15px;
	font-weight: bold;
}

/** Modificações **/
.panel-body {
	padding: 0;
	height: 100%;
}

.navbar-brand {
	padding: 9px 15px;
}

.btn-twitter {
	color: #fff;
	background-color: #1ab7ea;
	border-color: #1796c0
}

.btn-twitter:hover,.btn-twitter:focus,.btn-twitter:active,.btn-twitter.active,.open .dropdown-toggle.btn-twitter
	{
	color: #fff;
	background-color: #3abde8;
	border-color: #1796c0
}